<!--
<p>{{blog2.titulo}}</p>
<p>{{blog2.contenido}}</p>
<p>{{blog2.resumen}}</p>
<p>{{blog2.imagen}}</p>
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="styleblog.css">
    <link id="favicon" rel="icon"
        href="https://cdn.glitch.global/c9435c33-2e5f-4513-9251-1fd8a7839f77/Logo_An%C3%A1huac.ico?v=1664913363191"
        type="image/x-icon" />

</head>

<body class="body">
    <div class="container-all">

        <h1 class="titulo"> Título del Blog</h1>

        <img src="noticia.jpg">

        <h1 class="contenido"> Resumen del blog</h1>
        <p>
            <b>CONTENIDO DEL BLOG</b> <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, corrupti deleniti dolorem voluptatum
            excepturi odio. Nemo cum velit dolorum esse libero hic non, inventore mollitia quas consequatur. Sunt,
            quidem assumenda.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores facere praesentium vitae eveniet magni
            veritatis consequuntur corrupti inventore nostrum dolorem labore tempora aspernatur quam exercitationem
            iusto, obcaecati accusamus recusandae! Repellat?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus illum odio ut, nihil vitae eum laudantium
            quod eveniet aspernatur labore tempora beatae tempore quas voluptates quibusdam sit amet nobis dignissimos!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi fugit cum similique incidunt asperiores,
            tempora maiores suscipit molestiae earum eligendi, beatae odit, dolore itaque illo sit. Eum ipsa voluptatum
            cupiditate?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi fugit cum similique incidunt asperiores,
            tempora maiores suscipit molestiae earum eligendi, beatae odit, dolore itaque illo sit. Eum ipsa voluptatum
            cupiditate?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi fugit cum similique incidunt asperiores,
            tempora maiores suscipit molestiae earum eligendi, beatae odit, dolore itaque illo sit. Eum ipsa voluptatum
            cupiditate?</p>



    </div>

</body>

</html>
