<!--{{casa}}

<h1>{{casa.casa_nombre}}</h1>
<p>{{casa.home_photo}}</p>
<p>{{casa.casa_responsable}}</p>
<img src={{casa.home_photo.url}}/>
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INFORMACIÓN DE LAS CASAS</title>
    <link rel="stylesheet" href="style.css">
    <link id="favicon" rel="icon"
        href="https://cdn.glitch.global/c9435c33-2e5f-4513-9251-1fd8a7839f77/Logo_An%C3%A1huac.ico?v=1664913363191"
        type="image/x-icon" />

</head>

<body class="body">
    <div class="container-all">

        <h1 class="titulo"> INFORMACIÓN DE LAS CASAS</h1>

        <img src="casa.jpg">

        <h1 class="subtitulo"> Nombre de la casa</h1>
        <p>Descripción:</p>
        <p> Dirección:</p>
        <p>Habitantes:</p>
        <p> Cuartos:</p>
        <p>Amueblada:</p>
        <p> Contacto:</p>
        <p>Responsable:</p>



    </div>

</body>

</html>
